<div class="hero">
    <div class ="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>Travel-App</h1>
        <p class="text muted">Verfolge deine Reisen mit der Travel-App!
          <p>
            <%= link_to "Jetzt Starten!", signup_path, class: "btn btn-info btn-lg" %>
          </p>
        </p>
      </div>
    </div>
</div>
