// Place all the styles related to the Start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


//Universial

.jumbotron {
  padding-top: 380px;
  position: relative;
  background: center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  color: white;
  }

  body {
    padding-top: 60px;
  }

  .hero {
    background: url('bus_background.jpeg');
    position: relative;
    background-size: cover;
  }

  section {
    overflow: auto;
  }

  textarea {
    resize: vertical;
  }

  .center {
    text-align: center;
  }

  .center h1 {
    margin-bottom: 10px;
  }

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color: white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: white;
}
