<% provide(:title, "Fahrten erfassen") %>
<h1>Neue Fahrt speichern</h1>
<div class="row">
 <div class="col-md-6 col-md-offset-3">
   <div class="alert alert-info">
     <strong>Info!</strong> Bitte Fahrt erst berechnen, danach speichern. Flüge
                            können bisher nicht gespeichert werden.
   </div>
   <form id="frm1" action="/distance" method="post">
      <%= render 'shared/error_messages2' %>
     <div class ="form-group">
       <label for = "Startpunkt"> Startpunkt:</label>
       <input type="text" class="form-control" id="Start" name="distance[startpunkt]">
     </div>
     <div class ="form-group">
       <label for = "Zielpunkt"> Zielpunkt:</label>
       <input type="text" class="form-control" id="Ziel" name="distance[zielpunkt]">
     </div>
     <div class ="form-group">
       <label for="Reisemittel">Reisemittel</label>
       <select class="form-control" id="Mode" name="distance[verkehrsmittel]">
         <option value="WALKING">Zu Fuss</option>
         <option value="BICYCLING">Fahrrad</option>
         <option value="DRIVING">Auto</option>
         <option value="TRANSIT">Öffentliche Verkehrsmittel</option>
       </select>
     </div>
     <div class ="form-group">
       <label for = "Entfernung"> Entfernung in Kilomenter:</label>
       <input type="number" step= "any" class="form-control" id="Entfernung" name="distance[gmaprange]">
     </div>
     <button type="button" onclick="calcRoute()" class="btn btn-info">Berechnen</button>
     <button type="submit" value="Submit This Form" class="btn btn-success">Speichern</button>
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   </form>
 </div>
</div>
<div class ="container">
  <div id="directions"></div>
</div>
<script>
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();


  function calcRoute() {
    var origin      = document.getElementById("Start").value;
    var destination = document.getElementById("Ziel").value;
    var mode1 = document.getElementById("Mode").value;
    var request = {
        origin:      origin,
        destination: destination,
        travelMode:  google.maps.TravelMode[mode1]
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        var gdistance = response.routes[0].legs[0].distance.value; //distance in meter
        var x = document.getElementById("Entfernung");
      //  x.value = parseInt(gdistance)/1000;
        x.value = parseFloat((Math.round(gdistance * 100) / 100)/1000).toFixed(0);
      } else {
      window.alert('Fahrt kann nicht berechnet werden. Grund: ' + status);
    }
    });
  }

  calcRoute();

  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'directions'}}, function(){
    directionsDisplay.setMap(handler.getMap());
  });

</script>
