<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <span class="label label-info align-middle">Created by Sepp</span>
      <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Hilfe",   help_path %></li>
            <li><%= link_to "Kontakt", contact_path %></li>
        </ul>
      </nav>
    </div>
</header>
